*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.header{
    padding: 1.2rem;
    background-color: #000000;
    color: #fff;
    position: fixed;
    width: 20%;
    padding-left: 30px;
    padding-right: 30px;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
}
.image img{
    width: 170px;
    height: 170px;
    border-radius: 90px;
 
    
}

.logo{
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin: 0% auto;
    /* line-height: 20px; */
    font-weight: 100;
    text-align: center;
    align-items: center;
    margin-left: 30px;
    height: 100vh;
}

.bold{
    font-weight: 800;
    color:  #e7c83e
}

.navbar a{
    color: #fff;
    font-size: 15px;
    margin-top: 15px;
    margin-left: .5rem;
    /* background: #65f043; */
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    line-height: 20px;
    border-radius: 8px;
}
.navbar a:hover{
    background: #fff;
    color: black;
}
.icons i{
   background: #e7653e;   
   padding: 10px;
   margin-left: 8px;
   margin-top: 10px;
   border-radius: 8px;
   width: 30px;
}
.fa-twitter:before {
    content: "\f099";
    margin-left: -4px;
}
.fa-linkedin:before {
    content: "\f08c";
    margin-left: -1px;
}
.fa-instagram:before {
    content: "\f16d";
    margin-left: -1px;

}
.fa-github:before {
    content: "\f09b";
    margin-left: -1px;
}
.icons i:hover{
    background: #fff;
    color: black;
}
/* .fa-bars{
    display: none;
} */
.main{
    background-image: url(./bodyback.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 80%;
    margin-left: 20%;
    height: 100vh;

  }

.myContent{
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
   width: 100%;
   align-items: center;
   justify-content: center;
   padding-right: 300px;
   
}
.myContent h1{
  display: block;
  font-size: 35px;
}




@keyframes sameer
{
 0% ,10%,100%{
  width: 0;
}
70%,100%{
  width: 100%;
  /* height: 200px; */
 }
}


.About{
    margin-left: 20%;
    width: 80%;
    margin-top: 100vh;
    background-color: white;
    /* position: absolute; */
}






@media (max-width:500px){
    .header{
      display: flex;
      flex-direction: column;
      width: 20%;
      margin: 0;
      padding: 0;
    }
    .icons{
        display: none;
    }
    .logo{
        display: none;
    }
    .image img{
        display: none;
    }
    .navbar{
      text-align: center;
    }
    .navbar a span{
        display: none;
        /* position: absolute;
        top: -99%; */
    }
  
    
    .fa-bars{
        display: inline-block;
    }
}


.myContent{
  padding-right: 0;
}
.myContent h2, .myContent h1{
  font-size: 20px;
}


.p1{
    padding-left: 5%;

}

.contect img{
    width: 80%;
    /* height: 300px; */
    padding-left: 10%;
    padding-top: 6%;
    display: block;
}
.text1 h2{
   padding-right: 10%;
   padding-top: 6%;
}


.main1{
    display: flex;
    justify-content: space-around;
}
.child3{
    /* padding-right: 10%; */
    /* width: 100px; */
    /* width: 200px; */
    /* height: auto; */
}
.child47{
    padding-right: 20px;
    /* width: 100px; */
}

.child4{
    /* margin-left: 120px; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    gap: 100px;
    padding-top: 5%;
    font-size: 18px;
    /* padding-left: 1%; */
}
/* .para p{
    margin-left: 20px;
} */
.facts h1{
    font-size: 30px;
    padding-top: 10%;
    padding-left: 5%;
}
.happy-main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* height: 300px; */
}
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
  }.container{
    padding-left: 30px;
    /* display: flex; */
  }
  .row{
    display: flex;
    /* flex-direction: row; */
    gap: 60px;
  }
  section {
    padding: 10px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background: #f5f8fd;
  }
  
  .section-title {
    padding-bottom: 40px;
    margin-top: 110px;
    /* margin-left: 50px; */
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
  }
  .rg{
    display: flex;
    justify-content: end;
    /* justify-content: top; */
    /* padding-bottom: 40%; */
    /* margin-top: -200px; */
  }
  .section-title p {
    margin-bottom: 0;
  }
  .happy-main{
    margin-top: 40px;
  }
  .happy i{
    color: blue;
    font-size: 3rem;
  }
  .happy span{
    font-size: 2rem;
    font-weight: bolder;
  }
  .section-title2{
padding-left: 20px;
margin-top: 70px;
  }
  .threeimg{
    display: flex;
    justify-content: space-around;
  }






  .main-containerss{
    /* margin: 6% 0 0 36%; */
    position: relative;
    width: 25%;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    
}
.image1{
    display: block;
    width: 100%;
    height: auto;

}
.overlay{
    position: absolute;
    /* left:0;
    right:0; */
    bottom:0;
    /* top: 20px; */
    background-color: rgba(51, 21, 223, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    display: flex;
    justify-content: space-around;
    /* margin: 120px; */
    /* padding: 120px; */
    gap: 30px;


}
.main-containerss:hover .overlay{
    height: 20%;
}

.div1{
    width: 100%;
    /* margin-top: -100%; */
    /* margin-bottom: 30px; */
    color: rgb(241, 234, 234);
    font-size: 3rem;
    margin-left: 30px;
    /* text-align: center; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* transform: rotate(-5deg)skewX(-5deg); */


}
.div2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: 3rem;
    /* margin: 50% 0 0 18%; */
    width: 70%;
    letter-spacing: 5px;
    /* margin-top: 20px; */
    /* line-height: 1.5em; */

    
}








  * {box-sizing:border-box}

  /* Container for skill bars */
.dg{
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
  }
  
  .skills {
    text-align: right; 
    padding-top: 10px;
     /* Add top padding */
    padding-bottom: 10px;
     /* Add bottom padding */
    /* color: white; */
     /* White text color */
  }
  
  .html {width: 90%; background-color: #04AA6D;} /* Green */
  .css {width: 80%; background-color: #2196F3;} /* Blue */
  .js {width: 65%; background-color: #f44336;} /* Red */
  .php {width: 60%; background-color: #808080;} /* Dark Grey */









.section-title{
  margin-left: 30px;
}









  .service {
    /* display: flex; */
    padding-left: 5%;
    width: 402px;
    padding-top: 4%;
    /* letter-spacing: px; */
}
.service span{
    /* padding-left: 2%; */
    margin-left: 21px;
    font-size: 25px;
    color: black;
}
.service i{
  color: blue;
  width: 100%;
  /* background-color: #04AA6D; */
  height: 60px;
}
.service i:hover{
  color: yellow;
  transform: scale(1.3) ;

}

.boxes1{
    width: 33%;
    height:300px ;
    background-color: white;;
    padding-left: 
    3px;
    border:2px solid rgb(16, 66, 204) ;
    border-radius: 30px;
    
    /* display: flex; */
}
.boxes1 span, .boxes2 span, .boxes3 span{
    color: #0e57c5;
    font-size:60px;
    padding-top: -2%;
}
.boxes1 p,.boxes2 p, .boxes3 p{
    /* margin-top: -30px; */
    font-size: 20px;
}
.boxes2{
    width: 33%;
    height: 300px;
    background-color: white;
    margin-left: 10px;
    /* display: flex; */
    padding-left: 
    3px;
    border:2px solid rgb(16, 66, 204) ;
    border-radius: 30px;
}
.main-box{
    display: flex;
    /* padding-left:5%;
    padding-top: 4%; */
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-left: 10px;
    padding-left: 
    3px;
    
}
.boxes3{
    width: 30%;
    height: 300px;
    background-color: white;
    margin-left: 10px;
    /* display: flex; */
    padding-left: 
    3px;
    border:2px solid rgb(16, 66, 204) ;
    border-radius: 30px;
}
.service i{
    /* padding-left: 2%; */
    /* margin-left: 10px; */
    font-size: 25px;
}
.service p{
    padding-top: 6%;
}

.main-s{
    display: flex;
}
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 #contact-details .details{
    width: 40%;
 }
 #contact-details .details span,
 #form-details form span{
    font-size: 12px;
 }
 #contact-details .details h2,
 #form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
 }
 #contact-details .details h3{
    font-size: 16px;
   padding-bottom: 15px;
 }
 #contact-details .details li{
  list-style: none;
  display: flex;
  padding: 10px 0;
 }
 #contact-details .details li i{
    font-size: 14px;
   padding-right: 22px;
 }
 #contact-details .details li p{
    font-size: 14px;
  margin: 0;
 }
 #contact-details .map{
    width: 55%;
    height: 400px;
 }
 #contact-details .map iframe{
    width: 100%;
    height: 100%;
 }
 #form-details{
    display: flex;
    justify-content:space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
    width: 60%;
    /* padding-top: 10%; */
    /* height:90vh; */
 }
 #form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
 align-items: flex-start;
 }
 #form-details form input,
 #form-details form textarea{
    width: 151%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
 }
 
 #form-details .people div{
 padding-bottom: 25px;
 display: flex;
 align-items: flex-start;
 }
 #form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    }
    #form-details .people div p{
       margin: 0;
       font-size: 13px;
       line-height: 25px;
    }
    #form-details .people div span{
       display: block;
       font-size: 16px;
       font-weight: 600;
       color: black;
    }

/* .iu{
  width: 30%;
  background-color: #000;
  margin: 30px;

} */
.mm{
  border-radius: 100px 100px 100px 100px;
  border: 1px solid black;
}
    .people1{
display: flex;
padding-left: 5%;
margin-top: 70px;
    }
    .people1 img{
        /* border-radius: 50%; */
        width: 36%;
        padding-top: 9%;
        margin-left: 77px;
    }
    .people1 h3{
        padding-left: 20%;
        font-size: 30px;
    }
    .people1 h6{
        margin-left: 100px;
        margin-top: -15px;
        font-size: 15px;
        color: blue;
    }
    .people{
        padding-left: 9%;
        border-width: 20px;
        /* border: 2px solid black; */


        /* border: 2px solid black; */
        /* padding-bottom: 402px; */
    }
    .people i{
        font-size: 20px;
        display: block;
    }

    .map iframe{
        width: 350px !important;
    }
    button {
      display: inline-block;
      border-radius: 4px;
      background-color: #162cee;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 17px;
      padding: 16px;
      width: 130px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
     }
     
     button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
     }
     
     button span:after {
      content: '»';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -15px;
      transition: 0.5s;
     }
     
     button:hover span {
      padding-right: 15px;
     }
     
     button:hover span:after {
      opacity: 1;
      right: 0;
     }



@media (max-width:318px) {
  .child4 p{
    flex-direction: column;
    /* font-size: 2px; */
  }
  
  .happy-main{
    flex-direction: column;
    margin-top: 130px;
    margin-left:40px ;
    padding: 30px;
    gap: 50px;
  }
}
@media (max-width:400px) {
    .text1 h2{
      font-size: 17px;
      padding-left: 14px;
    }
    .para {
      /* font-size: 10px; */
      display: flex;
      flex-wrap: wrap;
    }
    .para p{
      padding-left: 10px;
      font-size: 17px;
    }
    .child4 {
    /* flex-direction: column; */
    /* justify-content: ; */
    flex-wrap: wrap;
    }
      .main1{
        display: flex;
        flex-wrap: wrap;
      }
      .child3{
        padding-left: 10px;
      }
      .child47{
        margin-top: -72px;
        padding-left: 52px;
      }
      .happy-main{
        flex-direction: column;
        margin-top: 130px;
        margin-left:40px ;
        padding: 30px;
        gap: 50px;
      }
      .row{
        display: flex;
        flex-wrap: wrap;
      }
      .threeimg{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
      }
      .main-s{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        /* gap: 10px; */
      }
      .main-box{
        display: flex;
        flex-direction: column;
        width: 900px;
        /* gap: 70px; */
        /* gap: ; */
        /* height: 500px; */
      }
      .boxes3{
        height: 340px;
        width: 290px;
      }
      .boxes1{
        margin-left: 10px;
        /* gap: 10px; */
      }
      .people1{
        display: flex;
        flex-direction: column;
      }
      #contact-details{
        /* margin-left: 209px; */
        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
      }
      .map{
        display: none;
      }
      .content{
        /* display: none; */
        font-size: 20px;
      }
      .content h2{
        width: 100%;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        font-size: 16px;
      }
      
      #contact-details{
        width: 400px;
        margin-left: -20px;
        margin-top: 10px;
      }
      #form-details{
        margin-top: 53px;
        /* padding-left: 0;/ */
        padding-left: 20px;
      }
      #form-details form input, #form-details form textarea {
        width: 180px;
        margin-left: 0;
        padding-left: 0;
    }
    button{
      margin-left: 20px;
    }
  
}













    

